@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-libre: 'Libre Franklin', sans-serif;

  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --clr-blue: hsl(223, 87%, 63%);
  --clr-light-blue: hsl(223, 85%, 73%);
  --clr-lighter-blue: hsl(223, 39%, 70%);
  --clr-pale-blue: hsl(223, 100%, 88%);
  --clr-light-red: hsl(354, 100%, 66%);
  --clr-gray: hsl(0, 0%, 59%);
  --clr-very-dark-blue: hsl(209, 33%, 12%);
  --clr-white: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
}

body {
  color: var(--clr-very-dark-blue);
  font-family: var(--ff-libre);
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  line-height: 1.6;
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
}

/* Typography */
.title {
  color: var(--clr-gray);
  font-size: var(--fs-22);
  font-weight: var(--fw-light);
}

.highlight {
  color: var(--clr-very-dark-blue);
  font-weight: var(--fw-bold);
}

.copy {
  font-size: var(--fs-12);
}

::placeholder {
  color: var(--clr-pale-blue);
  font-family: var(--ff-libre);
  font-size: var(--fs-12);
}

.error-message {
  color: var(--clr-light-red);
  font-size: var(--fs-12);
  font-style: italic;
}

.notify-btn {
  color: var(--clr-white);
  font-family: var(--ff-libre);
  font-size: var(--fs-12);
  font-weight: var(--fw-semi-bold);
}

.copyright-text {
  color: var(--clr-gray);
  font-size: var(--fs-10);
}

/* Utility styles */

.container {
  /* height: 100%; */
  margin: 0 auto;
  max-width: 370px;
  padding: 3em 1.5em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* SECTIONS */
.logo-area {
}

.logo {
  transform: scale(0.6);
}

.hero-area {
  margin-top: 1.25em;
}

.copy {
  margin-top: 1em;
}

.form-area {
  height: 130px;
  margin-top: 2em;
  width: 100%;
}

.error-message {
  display: block;
  font-weight: var(--fw-semi-bold);
  margin: 0.5em auto 1.5em;
  opacity: 0;
  width: 100%;
}

.error.form-control > .error-message {
  opacity: 1;
}

.form-control {
  position: relative;
}

.error.form-control > input {
  border: 1px solid var(--clr-light-red);
}

.email-input,
.notify-btn {
  border-radius: 2em;
  outline: none;
  padding: 0.8em 1.2em;
  width: 90%;
}

.email-input {
  border: 1px solid var(--clr-pale-blue);
}
.notify-btn {
  background-color: var(--clr-blue);
  border: none;
  box-shadow: 1px 4px 10px 2px hsla(223, 87%, 63%, 0.2);
  margin-bottom: 0.75em;
}

.notify-btn:focus,
.notify-btn:hover {
  background-color: var(--clr-light-blue);
  box-shadow: 2px 4px 10px 3px hsla(223, 66%, 30%, 0.2);
}

.notify-btn:active {
  background-color: var(--clr-lighter-blue);
  box-shadow: 2px 4px 10px 5px hsla(223, 66%, 30%, 0.3);
}

.dashboard-area {
  margin-top: 3em;
}

.social-area {
  margin-top: 6em;
}

.share-socials {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.social-icon-btn {
  background: transparent;
  border: 0.5px solid var(--clr-pale-blue);
  border-radius: 50%;
  color: var(--clr-blue);
  cursor: pointer;
  padding: 0.5em 0;
  width: 30px;
}

.social-icon-btn:focus,
.social-icon-btn:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.social-icon-btn:active {
  background-color: var(--clr-light-blue);
}

.copyright {
  margin-top: 1.5em;
}

/* Footer */

.footer {
  color: var(--clr-dark-blue);
  padding: 0.75em 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */

@media (min-width: 600px) {
  .container {
    max-width: 80%;
  }

  .logo {
    transform: scale(0.8);
  }

  .title {
    font-size: var(--fs-28);
  }

  .copy {
    font-size: var(--fs-14);
  }

  .form-area {
    height: 130px;
    margin-top: 2em;
    width: 100%;
  }

  .form {
    display: flex;
    justify-content: space-between;
  }

  .form-control {
    width: 62%;
  }

  .error-message {
    display: none;
  }

  .error.form-control > .error-message {
    display: block;
    padding-left: 2em;
    text-align: left;
  }

  ::placeholder {
    font-size: var(--fs-14);
  }

  .email-input,
  .notify-btn {
    border-radius: 2em;
    font-size: var(--fs-14);
    padding: 1em 1.5em;
  }

  .email-input {
    width: 100%;
  }
  .notify-btn {
    align-self: flex-start;
    width: 35%;
  }

  .dashboard-area {
    margin-top: 0em;
  }

  .share-socials {
    gap: 1em;
  }

  .social-icon-btn {
    transform: scale(1.2);
  }

  .copyright-text {
    font-size: var(--fs-12);
  }
}

@media (min-width: 850px) {
  .container {
    max-width: 635px;
  }
}

@media (min-height: 740px) {
  .container {
    height: 95%;
  }
}
